#show-order {
  display: none;
}

.order {
  cursor: pointer;
  color: #0088cc;
}

.order:hover {
  text-decoration: underline;
}

.order-column {
  padding-left: 30px;
}

div.img {
  margin: 5px;
  padding: 5px;
  height: auto;
  width: auto;
  float: center;
  text-align: center;
}

#new-order {
  padding-left: 50px;
}
